
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480119051871'); /* IE9*/
  src: url('iconfont.eot?t=1480119051871#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480119051871') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480119051871') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480119051871#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pa-edit:before { content: "\3433"; }

.icon-pa-close:before { content: "\344d"; }

.icon-pa-delete:before { content: "\e61c"; }

.icon-pa-shyp:before { content: "\e679"; }

.icon-pa-baoxiao:before { content: "\e652"; }

.icon-pa-shang:before { content: "\e751"; }

.icon-pa-redenvelope:before { content: "\e6bd"; }

.icon-pa-electric:before { content: "\e617"; }

.icon-pa-other:before { content: "\e60c"; }

.icon-pa-shoe:before { content: "\e609"; }

.icon-pa-left:before { content: "\e61d"; }

.icon-pa-balance:before { content: "\e664"; }

.icon-pa-newcate:before { content: "\e654"; }

.icon-pa-virtual:before { content: "\e697"; }

.icon-pa-award:before { content: "\e641"; }

.icon-pa-add:before { content: "\e66d"; }

.icon-pa-shenghuojiaofei:before { content: "\e661"; }

.icon-pa-network_account:before { content: "\e605"; }

.icon-pa-bag:before { content: "\e8e1"; }

.icon-pa-detail:before { content: "\e67b"; }

.icon-pa-chart:before { content: "\e675"; }

.icon-pa-cash:before { content: "\e651"; }

.icon-pa-refund:before { content: "\e62b"; }

.icon-pa-bottom:before { content: "\e601"; }

.icon-pa-right:before { content: "\e64b"; }

.icon-pa-debt:before { content: "\e60f"; }

.icon-pa-loan:before { content: "\e610"; }

.icon-pa-yue:before { content: "\e61b"; }

.icon-pa-transferin:before { content: "\e6c2"; }

.icon-pa-transferout:before { content: "\e6c5"; }

.icon-pa-bookmaker:before { content: "\e61f"; }

.icon-pa-food:before { content: "\e621"; }

.icon-pa-texi:before { content: "\e623"; }

.icon-pa-clothing:before { content: "\e624"; }

.icon-pa-salary:before { content: "\e625"; }

.icon-pa-investment:before { content: "\e627"; }

.icon-pa-deposit_card:before { content: "\e628"; }

.icon-pa-airfare:before { content: "\e62a"; }

.icon-pa-ptjob:before { content: "\e62c"; }

.icon-pa-traffic:before { content: "\e62d"; }

.icon-pa-gift:before { content: "\e62f"; }

.icon-pa-snacks:before { content: "\e632"; }

.icon-pa-travel:before { content: "\e633"; }

.icon-pa-beauty:before { content: "\e634"; }

.icon-pa-otherincome:before { content: "\e635"; }

.icon-pa-car:before { content: "\e636"; }

.icon-pa-book:before { content: "\e63b"; }

.icon-pa-digit:before { content: "\e63c"; }

.icon-pa-energy:before { content: "\e63d"; }

.icon-pa-call:before { content: "\e63e"; }

.icon-pa-fix:before { content: "\e63f"; }

.icon-pa-credit_card:before { content: "\e640"; }

.icon-pa-medician:before { content: "\e643"; }

.icon-pa-entertainment:before { content: "\e645"; }

.icon-pa-sports:before { content: "\e646"; }

.icon-pa-rent:before { content: "\e647"; }

.icon-pa-pre_paid:before { content: "\e659"; }

.icon-pa-fruit:before { content: "\e600"; }

.icon-pa-me:before { content: "\e629"; }

.icon-pa-maicai:before { content: "\e60d"; }

.icon-QQ:before { content: "\e65e"; }

.icon-weibo:before { content: "\e65f"; }

.icon-wechat:before { content: "\e662"; }

